
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: #000;
  color: whitesmoke;
}
body{
  /* min-height: 100vh; */
  /* min-width: 100vw; */
  font-size: 3rem;
  display: grid;
  place-content: center;
  justify-content: center;
  align-items: center;
}


input,
button {
  font: inherit;
  padding: 0.5rem;
}

section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  min-width: 90vw;
  /* margin-right: 1rem; */
  
  padding: 0 10% 10%;
}
form{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin-top: 2%;
}
article{
  border: 0.1rem solid goldenrod;
  border-radius: 1rem;
  margin-top: 0.5rem;
  padding: 2%;
}

input, textarea {
  text-align: left;
  /* max-width: 2.5em; */
  font-size: 1rem;
  padding: 0.2rem;
}

button {
  font-size: 1rem;
  margin: 0.5em 0 0.5em 0;
  min-width: 1em;
}

h2{
  font-size: 2.5rem;
}
h3, label{
  font-size: 1.5rem;
}
h4{
  font-size: 1rem;
}

p{
  font-size: 0.9rem;
}
.reactionButton{
  background-color: rgba(255,255,255, 0.01);
  border: none;
  color: whitesmoke;
  padding-right:0.2rem;
  cursor: pointer;
}
.reactionButton:hover{
  scale: 1.2;
}
.postCredit{
  font-style: italic;
  margin-top: 0.6rem;
}
button:first-child {
  margin-left: 0;
}
header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: purple;
  color: whitesmoke;
  position: sticky;
  top: 0;
  min-width: 100vw;
}

nav {
  display: flex;
  justify-content: flex-end;
  font-size: 1.2rem;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 1rem;
}

nav a, nav a:visited {
  color: #fff;
  text-decoration: none;
}

nav a:hover, nav a:focus {
  text-decoration: underline;
}
.userLists{
  font-size: 1rem;
}
.userPage{
  font-size: 0.6em;
  display: flex;
  justify-content: "center";
  align-content: "right";
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.userPostTitle{
  font-size: 1em;
  padding-bottom: 0.6rem ;
}
.deleteButton{
  background-color: red;
  color: snow;
}